STATIC_SITE_SECRET_ROOT={{ static_site_secret_root }}
STATIC_SITE_INCOMING_ROOT={{ static_site_incoming_root }}
STATIC_SITE_PUBLIC_ROOT={{ static_site_public_root }}
STATIC_SITE_GIT_REPO_CACHE_ROOT={{ static_site_git_repo_cache_root }}
STATIC_SITE_GIT_REPO={{ static_site_git_repo }}
STATIC_SITE_GIT_BRANCH={{ static_site_git_branch }}
STATIC_SITE_GIT_SOURCE_DIR={{ static_site_git_source_dir }}
STATIC_SITE_GIT_SSH_CONFIG={{ static_site_git_ssh_config_path }}
STATIC_SITE_PUBLISHER_INTERVAL_SECONDS={{ static_site_publisher_interval_seconds }}
STATIC_SITE_PUBLISHER_MAX_BYTES={{ static_site_publisher_max_bytes }}
