[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = true
interpreter_python = auto_silent
retry_files_enabled = false
forks = 10
gathering = smart
local_tmp = /tmp/klokast-ops-ansible-local

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
