#!/sbin/openrc-run
description="Klokast print server Podman pod"

depend() {
    need net
    after firewall
    use logger
}

podman_cmd() {
    /usr/bin/doas -u {{ vm_admin_user_name | quote }} /usr/bin/podman "$@"
}

start() {
    ebegin "Starting {{ print_service_name }}"
    if podman_cmd pod exists {{ print_pod_name | quote }}; then
        pod_state="$(podman_cmd pod inspect --format '{% raw %}{{.State}}{% endraw %}' {{ print_pod_name | quote }})"
        if [ "$pod_state" != "Running" ]; then
            podman_cmd pod start {{ print_pod_name | quote }} >/dev/null
        fi
    else
        /usr/local/sbin/print-server-deploy >/dev/null
    fi
    eend $?
}

stop() {
    ebegin "Stopping {{ print_service_name }}"
    if podman_cmd pod exists {{ print_pod_name | quote }}; then
        pod_state="$(podman_cmd pod inspect --format '{% raw %}{{.State}}{% endraw %}' {{ print_pod_name | quote }})"
        if [ "$pod_state" = "Running" ]; then
            podman_cmd pod stop -t 60 {{ print_pod_name | quote }} >/dev/null
        fi
    fi
    eend $?
}

status() {
    podman_cmd pod ps --filter name={{ print_pod_name | quote }}
}
