POSTGRES_HOST=127.0.0.1
POSTGRES_DB_FILE=/run/secrets/postgres-db
POSTGRES_USER_FILE=/run/secrets/postgres-user
POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password
NEXTCLOUD_ADMIN_USER_FILE=/run/secrets/nextcloud-admin-user
NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud-admin-password
NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains | join(' ') }}
TRUSTED_PROXIES={{ nextcloud_trusted_proxies | join(' ') }}
OVERWRITEPROTOCOL=https
OVERWRITECLIURL={{ nextcloud_public_url }}
NEXTCLOUD_DATA_DIR=/var/www/html-data
REDIS_HOST=127.0.0.1
