[server]
threads = -1

[stream]
source = pipe://{{ music_snap_fifo }}?name=music&sampleformat={{ music_pcm_format }}&codec=pcm

[tcp-streaming]
enabled = true
bind_to_address = 0.0.0.0
port = {{ music_snapserver_port }}

[tcp-control]
enabled = true
bind_to_address = 127.0.0.1
port = {{ music_snapserver_rpc_port }}

[http]
enabled = false
