[LegalNotice]
Accepted=true

[Preferences]
Advanced\AnonymousMode=true
Bittorrent\MaxConnecs=300
Bittorrent\MaxConnecsPerTorrent=80
Bittorrent\MaxUploads=60
Bittorrent\MaxUploadsPerTorrent=20
Connection\PortRangeMin={{ torrent_qbittorrent_listen_port }}
Connection\UPnP=false
Connection\GlobalDLLimitAlt=0
Connection\GlobalUPLimitAlt=0
Downloads\SavePath={{ torrent_complete_dir }}/
Downloads\TempPath={{ torrent_incomplete_dir }}/
Downloads\TempPathEnabled=true
Downloads\TorrentExportDir={{ torrent_watch_dir }}/
Queueing\QueueingEnabled=true
WebUI\Address=127.0.0.1
WebUI\Port={{ torrent_qbittorrent_webui_port }}
WebUI\LocalHostAuth=false
WebUI\HostHeaderValidation=false
WebUI\CSRFProtection=true
WebUI\ClickjackingProtection=true
WebUI\SecureCookie=true
WebUI\ServerDomains=*
