[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = true
interpreter_python = auto_silent
retry_files_enabled = false
stdout_callback = default
callback_result_format = yaml
bin_ansible_callbacks = true
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/klokast-ansible-facts
fact_caching_timeout = 86400
local_tmp = /tmp/ansible-local
remote_tmp = /tmp

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
