{
  "ffmpeg": {
    "accel": "disabled"
  },
  "machineLearning": {
    "enabled": true,
    "urls": [
      "{{ immich_machine_learning_url }}"
    ]
  },
  "server": {
    "externalDomain": "{{ immich_public_url }}"
  }
}
