TZ=Etc/UTC
IMMICH_CONFIG_FILE=/config/immich.json
DB_HOSTNAME={{ immich_db_hostname }}
DB_PORT={{ immich_db_port }}
DB_USERNAME={{ immich_postgres_user }}
DB_PASSWORD={{ immich_postgres_password }}
DB_DATABASE_NAME={{ immich_postgres_db }}
REDIS_HOSTNAME={{ immich_redis_hostname }}
REDIS_PORT={{ immich_redis_port }}
MACHINE_LEARNING_URL={{ immich_machine_learning_url }}
IMMICH_TRUSTED_PROXIES={{ immich_trusted_proxies | join(',') }}
